body {
  font-family: sans-serif;
  text-align: center;
  padding: 40px;
  background: linear-gradient(to bottom, #f7f7ff, #d0e2f2);
}

form {
  margin-top: 20px;
}

pre {
  margin-top: 20px;
  background: #fff;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}
